extends ../layout
block content
  .page-title
    svg
      symbol#s-text
        text(text-anchor='middle' x='50%' y='80%') PROJECT
      g.g-ants
        use.text-copy(xlink:href='#s-text')
        use.text-copy(xlink:href='#s-text')
        use.text-copy(xlink:href='#s-text')
        use.text-copy(xlink:href='#s-text')
        use.text-copy(xlink:href='#s-text')
  .row
    .small-12.columns
      img(src='http://placehold.it/200x200')
      .project-details
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      a.btn(href="#") View Live Example
      a.btn(href='#') View On GitHub
