$blue: #0d6c81
$black: #000F08
$white: #CCDBDC
$light-teal: #9AD1D4
$teal: #80CED7
$main-font: 'Montserrat', sans-serif

// Blue: #0d6c81
// Red: #540B15

body
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(0,15,8,1)), color-stop(100%, rgba(11,57,84,1)))
  font-size: 30px
  color: $white
  position: relative
  height: 100%
  ul
    list-style: none
  footer
    width: 100%
    background: $blue
    height: 100%
    p
      text-align: center
      margin: 12px 0 10px 0
  section
    width: 100%

.scrollToTop
  position: fixed
  bottom: 10px
  right: 10px
  display: none
  background: white
  color: $black

.cta
  padding: 0
  background: #136a89
  text-align: center
  .columns
    padding: 0
  .left-cta
    border-right: 2px solid $blue
  a
    color: #e6e6e6
    padding: 20px
    width: 100%
    display: block

.menu-btn
  font-size: 45px
  margin: 20px

.off-canvas-wrapper-inner
  .nav-row, .title-bar
      background: transparent
.logo
  width: 150px
  margin-right: 15px
.off-canvas-content, .off-canvas-content
  box-shadow: none
  background: transparent

.off-canvas-wrapper
  height: 100%

#jumbotron
  font-family: $main-font
  color: $white
  text-align: center
  padding-top: 40vh
  img
    max-width: 160px
    padding-bottom: 20px
  h1
    font-size: 2.5em
    font-family: $main-font
    font-weight: bold
    display: inline-block
  p
    font-size: 1em
    margin-bottom: 0
  .jumbo-text
    text-align: left
    margin-left: 3em
    svg
      font: 3em "Montserrat", sans-serif
      margin: 0
      width: 100%
  ul
    margin: 0 0 3em 0
    float: left
    display: block
    width: 100%

    .list-title
      font-size: 1.5em
      line-height: 2em
.social-list
  li
    display: inline-block
    float: left
    margin: 5px 16px
    &:first-child
      margin-left: 0
    a
      color: $white
      font-size: 2em

#overview
  .overview-content
  .header-text
    .row
      padding: 25px
      background: $blue
    h3
      font-size: 1em
  .btn
    color: $white
    border: 1px solid $white
    background: #32566b
    border-radius: 20px
    padding: 10px 15px
    max-width: 300px
    text-align: center
    margin: auto
    display: block
  .projects
    padding: 0px
  .more-btn
    position: relative
    background: $light-teal
    z-index: 2
    box-shadow: 0 0 50px $blue
    display: flex
    align-items: center
    justify-content: center
    &:hover
      animation-name: pop
      animation-duration: 200ms
      animation-fill-mode: forwards
    p
      color: $blue
      font-weight: bold
      text-align: center
      i
        padding: 20px
        border-radius: 50%
        border: 5px solid $blue
        margin-bottom: 15px




  .details-section
    height: 220px
    .contact
      position: relative
      overflow: hidden
      padding: 0
      height: 100%
      background: url(/images/location-map1.png)
      background-repeat: no-repeat
      background-size: cover
      img
        height: 100%

      .contact-me
        height: 50%
        width: 50%
        position: absolute
        left: 0
        bottom: 0
        background: #ffffff
    .projects
      height: 100%
  .project-image
    height: 100px
    width: 50%
    height: 50%
    float: left
    background: $white

.off-canvas.position-right
  right: -480px
  top: 0
  width: 480px
.is-open-right
  transform: translateX(-480px)


@keyframes pop
  0%
    transform: scale(1)

  100%
    transform: scale(0.9)


@media only screen and (max-width: 415px)
  body
    font-size: 75%
.logo
  width: 80px
.menu-btn
    font-size: 35px
    margin: 10px

#overview
  .details-section
    height: 400px
  #jumbotron
    .jumbo-text
      margin-left: 0
      svg
        font: 5em "Montserrat", sans-serif
.off-canvas.position-right
  right: -250px
  top: 0
  width: 250px
.is-open-right
  transform: translateX(-250px)
