extends layout

block content
  .row
    .small-12.columns
      h1 About Me
      img(src="http://placehold.it/300x300", alt="Picture of Me")
      h2 "THE INTERNET IS BECOMING THE TOWN SQUARE FOR THE GLOBAL VILLAGE OF TOMORROW."
      p -Bill Gates
      p This quote from Bill Gates is what sparked my love for web development. Once I understood the impact that the internet has on all of us, I became obsessed with its future. Being a creative at heart, it was never enough for me to participate in the online community. I have to affect it, change it and make it better.
  section.row
    h3 Languages I Use:
    .small-3.columns
      img(src="http://placehold.it/125x125", alt="")
    .small-3.columns
      img(src="http://placehold.it/125x125", alt="")
    .small-3.columns
      img(src="http://placehold.it/125x125", alt="")
    .small-3.columns
      img(src="http://placehold.it/125x125", alt="")
    .small-12.columns.cta
      .small-6.columns.left-cta
        a.btn(href="/projects") View My Work
      .small-6.columns.right-cta
        a.btn(href='/contact') Get In Touch
