extends layout

block content
  section#jumbotron
    .row
      .small-12.columns
        .jumbo-text
          svg
            symbol#s-text
              text(text-anchor='left' x='0%' y='80%') JOHN GARCIA
            g.g-ants
              use.text-copy(xlink:href='#s-text')
              use.text-copy(xlink:href='#s-text')
              use.text-copy(xlink:href='#s-text')
              use.text-copy(xlink:href='#s-text')
              use.text-copy(xlink:href='#s-text')
          p FRONT END DEVELOPER
          ul.social-list
            li
              a(href='#')
                i.fa.fa-github(aria-hidden='true')
            li
              a(href='#')
                i.fa.fa-codepen(aria-hidden='true')
            li
              a(href='#')
                i.fa.fa-linkedin(aria-hidden='true')
  section#overview
    .overview-content
      .header-text
        .row
          .small-8.medium-6.columns
            h3 I'm a hungry front end dev looking for new challenges..
          .small-4.medium-6.columns
            a.btn.about(href="#") Learn More
      .row
        .small-6.columns.projects
          .project-image(style="background: gray")
            img(src="", alt="")
          .project-image(style="background: lightgray")
            img(src="", alt="")
          .project-image(style="background: slategray")
            img(src="", alt="")
          a(href='/projects')
            .project-image.more-btn
              p View Work
        .small-6.columns.contact
          img(src="/images/location-map.png", alt="location-map")
          a(href='/contact')
            .contact-me.more-btn
              P Get In Touch
