doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title John Garcia | Web Portfolio
    link(rel='stylesheet', href='/stylesheets/foundation.css' type='text/css')
    link(href='http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css', type='text/css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Montserrat')
    link(rel='stylesheet', href='/style.css', type='text/css')
  body
    .off-canvas-wrapper
      .off-canvas-wrapper-inner(data-off-canvas-wrapper)
        .nav-wrapper(class="#{navStyle}")
          .row.nav-row
            .title-bar(class=" small-12 columns" data-responsive-toggle='widemenu', data-hide-for='extra-large')
              .title-bar-left
                a(href="/")
                  img.logo(src="/images/logo.svg")
              .title-bar-right
                button(type='button', data-open='offCanvasRight')
                  i.fa.fa-bars.menu-btn
        // off-canvas right menu
        #offCanvasRight.off-canvas.position-right(data-off-canvas='', data-position='right')
          img(src='http://placehold.it/200x200')
          h2 JOHN GARCIA
          .nav-links
            ul.social-list
              li
                a(href='#')
                  i.fa.fa-github(aria-hidden='true')
              li
                a(href='#')
                  i.fa.fa-codepen(aria-hidden='true')
              li
                a(href='#')
                  i.fa.fa-linkedin(aria-hidden='true')
            hr
            ul.vertical.dropdown.menu(data-dropdown-menu='')
              li
                a(href='/') HOME
              li
                a(href='/about') ABOUT ME
              li
                a(href='/projects') MY WORK
              li
                a(href='/contact') CONTACT
        // original content goes in this container
        .off-canvas-content(class="#{bodyStyle}" data-off-canvas-content='')
          block content
          script(src='/js/jquery.js')
          script(src='/js/foundation.js')
          script(src='/js/page.js')
          script $(document).foundation();
