extends layout
block content
  h1.page-title Some Of My Work:
  .row
    .small-12.columns
      .project
        .project-header
          .img-wrapper
            .p-preview-image
          h2 Project Title
          a.view-p-link(href="#") View Project
        .p-desc
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, repudiandae aliquid assumenda laborum mollitia neque. 
    .small-12.columns
      .project
        .project-header
          .img-wrapper
            .p-preview-image
          h2 Project Title
          a.view-p-link(href="#") View Project
        .p-desc
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, repudiandae aliquid assumenda laborum mollitia neque. 
    .small-12.columns
      .project
        .project-header
          .img-wrapper
            .p-preview-image
          h2 Project Title
          a.view-p-link(href="#") View Project
        .p-desc
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, repudiandae aliquid assumenda laborum mollitia neque. 
