extends layout
block content
  .page-title
    svg
      symbol#s-text
        text(text-anchor='middle' x='50%' y='80%') MY WORK
      g.g-ants
        use.text-copy(xlink:href='#s-text')
        use.text-copy(xlink:href='#s-text')
        use.text-copy(xlink:href='#s-text')
        use.text-copy(xlink:href='#s-text')
        use.text-copy(xlink:href='#s-text')
  .row
    .small-12.medium-6.large-4.columns
      .project
        .project-header
          .img-wrapper
            .p-preview-image
          h2 Project Title
          a.view-p-link(href="#") View Project
        .p-desc
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, repudiandae aliquid assumenda laborum mollitia neque.
    .small-12.medium-6.large-4.columns
      .project
        .project-header
          .img-wrapper
            .p-preview-image
          h2 Project Title
          a.view-p-link(href="#") View Project
        .p-desc
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, repudiandae aliquid assumenda laborum mollitia neque.
    .small-12.medium-6.large-4.columns
      .project
        .project-header
          .img-wrapper
            .p-preview-image
          h2 Project Title
          a.view-p-link(href="#") View Project
        .p-desc
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, repudiandae aliquid assumenda laborum mollitia neque.
