body {
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #000f08), color-stop(100%, #0b3954));
  font-size: 30px;
  color: #CCDBDC;
  position: relative;
  height: 100%;
}

body ul {
  list-style: none;
}

body footer {
  width: 100%;
  background: #0d6c81;
  height: 100%;
}

body footer p {
  text-align: center;
  margin: 12px 0 10px 0;
}

body section {
  width: 100%;
}

.scrollToTop {
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: none;
  background: white;
  color: #000F08;
}

.cta {
  padding: 0;
  background: #136a89;
  text-align: center;
}

.cta .columns {
  padding: 0;
}

.cta .left-cta {
  border-right: 2px solid #0d6c81;
}

.cta a {
  color: #e6e6e6;
  padding: 20px;
  width: 100%;
  display: block;
}

.menu-btn {
  font-size: 45px;
  margin: 20px;
}

.off-canvas-wrapper-inner .nav-row, .off-canvas-wrapper-inner .title-bar {
  background: transparent;
}

.logo {
  width: 150px;
  margin-right: 15px;
}

.off-canvas-content, .off-canvas-content {
  box-shadow: none;
  background: transparent;
}

.off-canvas-wrapper {
  height: 100%;
}

#jumbotron {
  font-family: "Montserrat", sans-serif;
  color: #CCDBDC;
  text-align: center;
  padding-top: 40vh;
}

#jumbotron img {
  max-width: 160px;
  padding-bottom: 20px;
}

#jumbotron h1 {
  font-size: 2.5em;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  display: inline-block;
}

#jumbotron p {
  font-size: 1em;
  margin-bottom: 0;
}

#jumbotron .jumbo-text {
  text-align: left;
  margin-left: 3em;
}

#jumbotron .jumbo-text svg {
  font: 3em "Montserrat", sans-serif;
  margin: 0;
  width: 100%;
}

#jumbotron ul {
  margin: 0 0 3em 0;
  float: left;
  display: block;
  width: 100%;
}

#jumbotron ul .list-title {
  font-size: 1.5em;
  line-height: 2em;
}

.social-list li {
  display: inline-block;
  float: left;
  margin: 5px 16px;
}

.social-list li:first-child {
  margin-left: 0;
}

.social-list li a {
  color: #CCDBDC;
  font-size: 2em;
}

#overview .header-text .row {
  padding: 25px;
  background: #0d6c81;
}

#overview .header-text h3 {
  font-size: 1em;
}

#overview .btn {
  color: #CCDBDC;
  border: 1px solid #CCDBDC;
  background: #32566b;
  border-radius: 20px;
  padding: 10px 15px;
  max-width: 300px;
  text-align: center;
  margin: auto;
  display: block;
}

#overview .projects {
  padding: 0px;
}

#overview .more-btn {
  position: relative;
  background: #9AD1D4;
  z-index: 2;
  box-shadow: 0 0 50px #0d6c81;
  display: flex;
  align-items: center;
  justify-content: center;
}

#overview .more-btn:hover {
  animation-name: pop;
  animation-duration: 200ms;
  animation-fill-mode: forwards;
}

#overview .more-btn p {
  color: #0d6c81;
  font-weight: bold;
  text-align: center;
}

#overview .more-btn p i {
  padding: 20px;
  border-radius: 50%;
  border: 5px solid #0d6c81;
  margin-bottom: 15px;
}

#overview .details-section {
  height: 220px;
}

#overview .details-section .contact {
  position: relative;
  overflow: hidden;
  padding: 0;
  height: 100%;
  background: url(/images/location-map1.png);
  background-repeat: no-repeat;
  background-size: cover;
}

#overview .details-section .contact img {
  height: 100%;
}

#overview .details-section .contact .contact-me {
  height: 50%;
  width: 50%;
  position: absolute;
  left: 0;
  bottom: 0;
  background: #ffffff;
}

#overview .details-section .projects {
  height: 100%;
}

#overview .project-image {
  height: 100px;
  width: 50%;
  height: 50%;
  float: left;
  background: #CCDBDC;
}

.off-canvas.position-right {
  right: -480px;
  top: 0;
  width: 480px;
}

.is-open-right {
  transform: translateX(-480px);
}

@keyframes pop {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.9);
  }
}

@media only screen and (max-width: 415px) {
  body {
    font-size: 75%;
  }
}

.logo {
  width: 80px;
}

.menu-btn {
  font-size: 35px;
  margin: 10px;
}

#overview .details-section {
  height: 400px;
}

#overview #jumbotron .jumbo-text {
  margin-left: 0;
}

#overview #jumbotron .jumbo-text svg {
  font: 5em "Montserrat", sans-serif;
}

.off-canvas.position-right {
  right: -250px;
  top: 0;
  width: 250px;
}

.is-open-right {
  transform: translateX(-250px);
}

.page-title {
  background: #136a89;
  padding: 20px;
  margin-bottom: 20px;
  position: relative;
}

.page-title::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 10px;
  bottom: -10px;
  left: 50%;
  margin-left: -10px;
  display: block;
  border-top: 10px solid #136a89;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.page-title .text-copy {
  fill: #CCDBDC;
  fill-opacity: 0.2;
  stroke-dasharray: 2% 7%;
  stroke-width: 6px;
  stroke-dashoffset: 0%;
  animation: stroke-offset 41.5s infinite linear;
}

.project {
  background: #fff;
  text-align: center;
  margin-bottom: 20px;
  border-radius: 10px;
  overflow: hidden;
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
}

.project .project-header {
  height: 200px;
  position: relative;
  z-index: 0;
}

.project .project-header .img-wrapper {
  background: #CCDBDC;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  overflow: hidden;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.project .project-header .img-wrapper .p-preview-image {
  background: url("/images/proj-test.PNG");
  background-size: contain;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
}

.project h2 {
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 10px;
  margin-bottom: 0;
  font-weight: bold;
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.project a {
  color: #fff;
  background: #136a89;
  padding: 14px 20px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  position: absolute;
  bottom: -20px;
  right: 10px;
  border-radius: 10px;
  box-shadow: 0 0 27px -8px black;
}

.project .p-desc {
  color: #000F08;
  padding: 40px 10px;
}

svg {
  display: block;
  font: 4.5em "Montserrat", sans-serif;
  height: 100px;
  margin: 0 auto 20px auto;
}

.text-copy {
  fill: none;
  stroke: white;
  stroke-dasharray: 6% 29%;
  stroke-width: 3px;
  stroke-dashoffset: 0%;
  animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1) {
  stroke: #80CED7;
  animation-delay: -1;
}

.text-copy:nth-child(2) {
  stroke: #9AD1D4;
  animation-delay: -2s;
}

.text-copy:nth-child(3) {
  stroke: #136a89;
  animation-delay: -3s;
}

.text-copy:nth-child(4) {
  stroke: #136a89;
  animation-delay: -4s;
}

.text-copy:nth-child(5) {
  stroke: #12aab7;
  animation-delay: -5s;
}

@keyframes stroke-offset {
  100% {
    stroke-dashoffset: -35%;
  }
}

#offCanvasRight {
  height: 100%;
  background: #000F08;
}

#offCanvasRight h2 {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-weight: bold;
}

#offCanvasRight img {
  border-radius: 50%;
  display: block;
  max-width: 150px;
  margin: 10px auto;
}

#offCanvasRight .nav-links ul {
  text-align: center;
  margin: 0;
}

#offCanvasRight .nav-links ul li a {
  color: white;
  font-weight: bold;
}

#offCanvasRight .nav-links .social-list::after {
  clear: both;
}

#offCanvasRight .nav-links .social-list li {
  float: none;
}

#offCanvasRight .nav-links .social-list li:first-child {
  margin-left: 16px;
}

#offCanvasRight .nav-links .social-list li a {
  font-size: 1em;
}

#offCanvasRight .nav-links .menu.vertical li {
  background: #0d6c81;
  max-width: 80%;
  margin: 10px auto;
}
